* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: bisque;
  text-align: center;
  margin: 50px;
  padding: 20px;
}

.div {
  background-color: blueviolet;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin: 20px auto;
}
